
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <h4> Some links to sample health checks:</h4>
    <a href="~/Health/Check/"> HealthCheck on overall server status</a> <br/>
    <a href="~/Health/Check/nonexistantservice"> HealthCheck on an unknown service name</a> <br />
    <a href="~/Health/Check/notservingservice"> HealthCheck (not serving)</a> <br />
    <a href="~/Health/Check/availableservice"> HealthCheck (available service)</a> <br />
    <a href="~/Health/Check/unknownstatusservice"> HealthCheck (unknown status)</a>
</body>
</html>
